/* =============== global styling =============== */
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* =============== text styling =============== */

h1 {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-family: 'Segoe UI';
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

p {
    text-align: center;
    font-size: 20px;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

/* =============== navigation styling =============== */

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topnav a {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: height 2s ease-in-out;
}

/* =============== navigation styling =============== */

.container {
    display: flex;
    justify-content:space-evenly;
    padding: 9rem;
}

.container div {
    flex: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* =============== images styling =============== */

img {
    width: 25rem;
    height: 25rem;
    border: 5px solid rgb(0, 0, 0);
}